MAIL_USERNAME=  # 邮箱账号
MAIL_PASSWORD=  # 邮箱密码
ML_PIPELINE_ALERT_EMAIL=  # 报警邮件 发送到哪个邮箱
ML_PIPELINE_REUSE_TRAIN_CACHE=true  # 是否重用训练缓存
ML_PIPELINE_TRAIN_SAMPLE_RATIO=0.2  # 训练样本比例
ML_PIPELINE_MODEL_NAME=mobilenet_v2  # 模型名称
ML_PIPELINE_NUM_EPOCHS=2  # 训练轮数
ML_PIPELINE_BATCH_SIZE=64  # 批量大小
ML_PIPELINE_EARLY_STOPPING_PATIENCE=1  # 早停策略
MAIL_SMTP_MODE=auto  # 邮件SMTP模式